.container {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 640px;
  background-image: url("../images/background-photo.png");
  background-position: center;
  background-size: cover;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
}

.section-intro {
  width: 99.81px;
  height: 22.76px;
  color: #1e0e62;
}

.section-title {
  margin: 35px auto;
  width: 189.04px;
  height: 48.02px;
  color: #1e0e62;
}

.section-description {
  opacity: 0.4;
  margin: 0 auto;
  width: 262.78px;
  height: 44.91px;
  color: #1e0e62;
}
